@charset "utf-8";

body {
    background-color: black;
}

textarea , input[type="text"] {
    width: 30%;
        border-radius: 10px;
}

textarea {
    resize: none;
}

.board-title {
    color:gray;
    margin: 10px 10px;
}

.form-text {
    padding:10px 10px;
}

.comment-area {
    background-color: gray;
    margin: 10px 10px;
    border-radius: 10px;
}

.username-area {
    color:white;
    padding: 10px 10px 0px 10px;
}

.username {
    color:wheat;
}

.comment {
    padding: 0px 10px 0px 10px;
}

.submission-form {
    background-color: gray;
    margin: 20px 10px;
    padding: 10px 10px;
}

